.card{
    display: flex;
    flex-direction: column;
    width: 480px;
    height: 450px;
}

.imgBox{
    position: relative;
    width:480px;
    height: 360px;
    
}

.imgBox img{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit: cover;
}

.informacion{
    font-family: 'Montserrat', sans-serif;
}

.type_rating{
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    padding: 20px 0;
}

.tipo{
    color: #828282
}

.rating h3 i {
    color: #EB5757;
}

.title{
    font-size: 14px;
    padding-bottom: 20px;
}


